@model canopyws.Models.Employee
@{
    ViewData["Title"] = "Employees";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Your Employees</p>
<ul>
    <li>@Model.personalFirstName</li>
    <li>@Model.personalLastName</li>
    <li>@Model.employeeUserId</li>
</ul>


