@model canopyws.Models.EmployeeModel
@{
    ViewData["Title"] = "Employees";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Your Employees</p>
<ul>
    <li><a href="/api/v1/company/236/exports/employee-number/{@Model.employeeUserId}"> Name: @Model.personalFirstName </a> </li>
    <li>Last Name: @Model.personalLastName</li>
    <li>Employee ID: @Model.employeeUserId</li>
</ul>


