@model canopyws.Models.Employee
@{
    ViewData["Title"] = "Employees";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Individual Employee</p>
<ul>
    <li>First Name: @Model.personalFirstName</li>
    <li>Last Name: @Model.personalLastName</li>
    <li>Employee ID: @Model.employeeUserId</li>
</ul>

