@model canopyws.Models.PayFrequencyModel
@{
    ViewData["Title"] = "Pay Frequencies";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Your Pay Frequencies</p>
<ul>
    <li> @Model.Id </a></li>
    <li>Name: @Model.Name</li>
    <li>Description: @Model.Description</li>
    <li>GLCode: @Model.GlCode</li>
    <li>Standrd Hours: @Model.StandardHours</li>
    <li>Pay Frequency Factor: @Model.PayFrequencyFactor</li>
    <li>Lag Value: @Model.LagValue</li>
</ul>
